.banner {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    width: 30%;
    height: 100%;
    margin: 18px auto 0 auto;
}
