.catalogue-item {
    background-color: var(--color-fourth);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 25px;
    padding-top: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
}

.catalogue-item:hover {
    background-color: #e0e0e0;
    transform: scale(1.03);
}
