:root {
  --color-main: #2a313c;
  --color-seccond: #151b23;
  --color-third: #010409;
  --color-fourth: #8EA8C3;
  --color-fifth: #CBF7ED;
}

body {
  background-color: var(--color-main);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }