.sidebar-menu {
    height: 100vh;
    background-color: var(--color-seccond);
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
