.top-sidebar-menu {
    width: 100%;
    height: 40%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-image {
    width: 85%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    
}
h4{
    margin:0;
    padding:15px;
    text-decoration: underline;
}